// Couleurs
$primary-color: #0044ff;
$success-color: #28A745;
$danger-color: #DC3545;
$background-color: #fafafa;
$text-color: #222222;
$text-secondary-color: #555555;

// Typographie
$font-family: 'Inter', sans-serif;
$base-font-size: 16px;
$heading-line-height: 1.5;

// Border radius
$radius: 8px;
